<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrácia rezervácií</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<div class="obal" style="min-width: 900px;">
    <div th:if="${vacantSuperadminPosition}">
        <a class="button" href="/admin/claim-super">Prevziať superadmin pozíciu</a>
    </div>
    <h1>Administrácia rezervácií</h1>
    <a class="button" href="/vstup">
        Prejdi na kontrolu lístkov
    </a>

    <a class="button" href="/admin/volunteers">
        Prejdi na dobrovoľníkov
    </a>

    <a class="button" th:if="${adminLevel == 'SUPER'}" href="/superadmin">
        Prejdi na superadmina
    </a>

    <div class="admin-info">
        Prihlásený ako: <strong th:text="${user}">admin@upc.sk</strong> |
        <a href="/logout">
            Odhlásiť sa
        </a>
    </div>

    <input type="text" id="search" placeholder="Vyhľadať podľa mena alebo priezviska...">

    <label class="toggle-line" style="margin-top: 0">
        <input type="checkbox" id="filter-nezaplatene" checked>
        <span class="toggle"></span>
        <span class="text">Zobraziť iba nezaplatené</span>
    </label>
    <label class="toggle-line" style="margin-top: 0">
        <input type="checkbox" id="filter-zrusene">
        <span class="toggle"></span>
        <span class="text">Zobraziť aj zrušené</span>
    </label>
    <p>Aktuálna obsadenosť účastníkov: <strong
            th:text="${pocetObsadenych + '/' + maxPocet}">20/54</strong></p>
    <p>Počet dobrovoľníkov: <strong
            th:text="${pocetDobrovolnikov}">20</strong></p>
    <p>Počet teamákov: <strong
            th:text="${pocetTeamakov}">20/54</strong></p>
    <p>Použité / Zaplatené / Celkovo: <strong
            th:text="${pocetPouzite + '/' + pocetZaplatene + '/' + pocetCelkovo}">20/50/120</strong></p>

    <table id="reservations">
        <colgroup>
            <col style="width: 175px">
            <col style="width: 275px">
            <col style="width: 135px">
            <col style="width: 135px">
            <col style="width:  90px">
            <col style="width:  26px">
        </colgroup>

        <thead>
        <tr>
            <th>Meno</th>
            <th>Email</th>
            <th>Typ lístka</th>
            <th>Stav</th>
            <th colspan="2">Akcia</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<div id="actionsModal" class="modal hidden">
    <div class="modal-box">
        <div id="modalContent"></div>
    </div>
</div>

<script>
    let reservations = [];
    const tbody = document.querySelector('#reservations tbody');

    function openActions(id) {
        const r = reservations.find(x => x.id === id);
        if (!r) return;

        const modal = document.getElementById("actionsModal");
        const content = document.getElementById("modalContent");

        content.innerHTML = `
            <div style="display: flex; justify-content: space-between; align-items: center; margin: -20px -20px 0 -20px; padding: 20px;">
                <h4 style="margin: 0;">${r.meno}</h4>
                <button class="button-close" onclick="closeModal()">✕</button>
            </div>

            <h3>Zmena typu lístka</h3>
            <form action="/admin/zmen-typ-listka" method="post">
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <label for="actionSelect">Zmeniť na:</label>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <input type="hidden" name="id" value="${r.id}">
                        <select id="actionSelect" name="typ">
                            <option selected value="STUDENT">študent</option>
                            <option value="NESTUDENT">neštudent</option>
                            <option value="DOBROVOLNIK">dobrovoľník</option>
                            <option value="TEAM">team</option>
                        </select>

                        <button class="button-small" type="submit">
                            Potvrdiť
                        </button>
                    </div>
                </div>
            </form>

            <br><br>


            <div style="text-align: center;">
                <form action="/admin/zrus-rezervaciu" method="post">
                    <input type="hidden" name="id" value="${r.id}">
                    <button class="button-negative" type="submit">Zrušiť rezerváciu</button>
                </form>
            </div>
        `;

        modal.classList.remove("hidden");
    }

    function closeModal() {
        const actionSelect = document.getElementById("actionSelect");
        if (actionSelect && actionSelect.value !== "") {
            const confirmed = confirm("Nedokončil si zmenu lístka. Naozaj chceš zatvoriť bez uloženia?");
            if (!confirmed) return;
        }
        document.getElementById("actionsModal").classList.add("hidden");
    }

    document.addEventListener("keydown", function(event) {
        if (event.key === "Escape") {
            closeModal();
        }
    });

    document.getElementById("actionsModal").addEventListener("click", function(event) {
        if (event.target === this) {
            closeModal();
        }
    });

    async function renderTable() {
        const response = await fetch("admin/tickets");

        reservations = await response.json();

        tbody.innerHTML = '';
        reservations.forEach(r => {
            const tr = document.createElement('tr');
            tr.dataset.id = r.id;
            tr.innerHTML = `
                            <td style="height: 35px">${r.meno}</td>
                            <td>${r.email}</td>
                            <td>${r.typListka}</td>
                            <td>
                                ${r.stav}
                            </td>
                            <td>
                                ${r.stav === "REZERVOVANY" ? `<button class="button-small" onclick="confirmPayment('${r.id}')">Zaplatiť</button>` : ""}
                            </td>
                            <td>
                                <button class="more-btn" onclick="openActions('${r.id}')">⋮</button>
                            </td>
                        `;
            tbody.appendChild(tr);
        });
        runFilter();
    }

    async function confirmPayment(id) {
        const res = reservations.find(r => r.id === id);
        if (!res) return;


        const ok = confirm(`Naozaj chceš potvrdiť platbu pre: ${res.meno}?`);
        if (!ok) return; // ak klikne na "Zrušiť", nič sa nezmení

        const response = await fetch("admin/tickets/" + id + "/zaplatenie", {
            method: 'PUT'
        });

        if (!response.ok) {
            alert("Nepodarilo sa potvrdiť zaplatenie - lístok už je zaznamenaný ako zaplatený. Prosím znovunačítaj stránku.")
        }

        await renderTable();
    }



    document.getElementById('search').addEventListener('input', function () {
        runFilter();
    });


    document.getElementById('filter-nezaplatene').addEventListener('input', function () {
        localStorage.setItem('filterNezaplatene', this.checked);
        runFilter();
    });

    const savedFilterNezaplatene = localStorage.getItem('filterNezaplatene');
    if (savedFilterNezaplatene !== null) {
        document.getElementById('filter-nezaplatene').checked = savedFilterNezaplatene === 'true';
    }


    document.getElementById('filter-zrusene').addEventListener('input', function () {
        localStorage.setItem('filterZrusene', this.checked);
        runFilter();
    });

    const savedFilterZrusene = localStorage.getItem('filterZrusene');
    if (savedFilterZrusene !== null) {
        document.getElementById('filter-zrusene').checked = savedFilterZrusene === 'true';
    }



    function runFilter() {
        const filter = document.getElementById('search').value.toLowerCase();
        const nezaplateneFilterChecked = document.getElementById('filter-nezaplatene').checked;
        const zruseneFilterChecked = document.getElementById('filter-zrusene').checked;
        const rows = document.querySelectorAll('#reservations tbody tr');
        rows.forEach(row => {
            let disp = '';


            if (nezaplateneFilterChecked) {
                if (row.cells[3].textContent.trim() !== 'REZERVOVANY') {
                    disp = 'none'
                }
            }

            if (!zruseneFilterChecked) {
                if (row.cells[3].textContent.trim() === 'ZRUSENY') {
                    disp = 'none'
                }
            }

            if (disp !== 'none') {
                const name = row.cells[0].textContent.toLowerCase();
                disp = name.includes(filter) ? '' : 'none';
            }
            row.style.display = disp;
        });
    }



    renderTable();
</script>
</body>
</html>