<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Administrácia rezervácií</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<div class="obal" style="min-width: 824px;">
    <h1>Administrácia rezervácií</h1>
    <div class="admin-info">
        Prihlásený ako: <strong th:text="${user}">admin@upc.sk</strong> |
        <a href="/logout">
            Odhlásiť sa
        </a>
    </div>

    <input type="text" id="search" placeholder="Vyhľadať podľa mena alebo priezviska...">
    
    <label style="margin-top: 0rem; margin-bottom: 1.5rem;">
        <input type="checkbox" id="filter-nezaplatene">
        Zobraziť iba nezaplatené lístky
    </label>
    
    <table id="reservations">
        <colgroup>
            <col style="width: 165px">
            <col style="width: 250px">
            <col style="width: 115px">
            <col style="width: 140px">
            <col style="width:  90px">
        </colgroup>

        <thead>
        <tr>
            <th>Meno</th>
            <th>Email</th>
            <th>Typ lístka</th>
            <th>Stav</th>
            <th>Akcia</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    let reservations = [];
    const tbody = document.querySelector('#reservations tbody');

    async function renderTable() {
        const response = await fetch("admin/tickets");

        reservations = await response.json();

        tbody.innerHTML = '';
        reservations.forEach(r => {
            const tr = document.createElement('tr');
            tr.dataset.id = r.id;
            tr.innerHTML = `
                        <td style="height: 35px">${r.meno}</td>
                        <td>${r.email}</td>
                        <td>${r.typListka}</td>
                        <td>
                            ${r.stav}
                        </td>
                        <td>
                            ${r.stav === "REZERVOVANY" ? `<button class="button" style="padding: 0.25rem 0.75rem;" onclick="confirmPayment('${r.id}')">Zaplatiť</button>` : ""}
                        </td>
                    `;
            tbody.appendChild(tr);
        });
    }

    async function confirmPayment(id) {
        const res = reservations.find(r => r.id === id);
        if (!res) return;



        const ok = confirm(`Naozaj chceš potvrdiť platbu pre: ${res.meno}?`);
        if (!ok) return; // ak klikne na "Zrušiť", nič sa nezmení

        const response = await fetch("admin/tickets/" + id + "/zaplatenie", {
            method: 'PUT'
        });

        if (!response.ok){
            alert("Nepodarilo sa potvrdiť zaplatenie - lístok už je zaznamenaný ako zaplatený. Prosím znovunačítaj stránku.")
        }

        await renderTable();
    }


    document.getElementById('search').addEventListener('input', function() {
        runFilter();
    });

    document.getElementById('filter-nezaplatene').addEventListener('input', function() {
        runFilter();
    });

    function runFilter(){
        const filter = document.getElementById('search').value.toLowerCase();
        const nezaplateneFilterChecked = document.getElementById('filter-nezaplatene').checked;
        const rows = document.querySelectorAll('#reservations tbody tr');
        rows.forEach(row => {
            let disp = '';


            if(nezaplateneFilterChecked) {
                if (row.cells[3].textContent.trim() !== 'REZERVOVANY') {
                    disp = 'none'
                }
            }


            if(disp !== 'none'){
                const name = row.cells[0].textContent.toLowerCase();
                disp = name.includes(filter) ? '' : 'none';
            }
            row.style.display = disp;
        });
    }
    renderTable();
</script>
</body>
</html>