<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Správa udalostí</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<body>
<div class="obal">
    <a href="/admin" class="button big white">Späť na administráciu</a>
    <h1>Správa udalostí</h1>

    <p>Tu môžete spravovať udalosti, ktoré sa zobrazujú na hlavnej stránke.</p>

    <a href="/admin/event" class="button big blue">Vytvoriť novú udalosť</a>

    <div style="height: 2rem;"></div>

    <h2>Existujúce udalosti</h2>
    <table>
        <thead>
        <tr>
            <th>Názov</th>
            <th>Stav</th>
            <th>Upraviť</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="e : ${events}">
                <td th:text="${e.getNazov()}"></td>
                <td>
                    <a th:if="${e.getStav() != 'SELECTED'}" th:href="${'/superadmin/events/select/' + e.getId()}" class="button big blue">Vybrať</a>
                    <span th:if="${e.getStav() == 'SELECTED'}"> Vybratý</span>
                </td>
                <td th:text="${'/superadmin/event/' + e.getId()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>