<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <title>Čitačka lístkov</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
    <script src="https://unpkg.com/html5-qrcode"></script>
</head>

<body>
<div class="obal" style="min-width: 824px;">
    <h1>Čítačka lístkov</h1>
    <div id="reader" style="width: 100%;"></div>
</div>

<script>
    async function onScanSuccess(decodedText, decodedResult) {
        console.log(`QR decoded: ${decodedText}`);

        const response = await fetch("/admin/vstup/" + decodedText, {
            method: 'GET'
        });

        if (!response.ok) {
            return
        }
        const qrKod = confirm("QR kód načítaný: " + response.email);

        if (!qrKod) {
            return
        }

        const responsePut = await fetch("/admin/vstup/" + decodedText, {
            method: 'PUT'
        });

    }

    function onScanError(errorMessage) {
    }

    const html5QrCode = new Html5Qrcode("reader");
    const config = {fps: 10, qrbox: 250};

    Html5Qrcode.getCameras().then(cameras => {
        if (cameras && cameras.length) {
            let camId = 0;
            if (cameras.length > 1) {
                camId = 1;
            }
            html5QrCode.start(
                cameras[camId].id,
                config,
                onScanSuccess,
                onScanError
            );
        }
    }).catch(err => console.error(err));
</script>

</body>
</html>