<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteers - Admin Panel</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
<div class="obal" style="min-width: 847px;">
    <div th:if="${vacantSuperadminPosition}">
        <a class="button" href="/admin/claim-super">Prevziať superadmin pozíciu</a>
    </div>
    <div th:if="${dobrovolniciNeodoslaneListky}">
        <a class="button" href="/admin/volunteers/send-neodoslane">odošli dobrovoľníkom lískty</a>
    </div>
    <h1>Administrácia dobrovoľníkov</h1>
    <a class="button" href="/admin">
        Prejdi na správu lístkov
    </a>

    <a class="button" th:if="${adminLevel == 'SUPER'}" href="/superadmin">
        Prejdi na superadmina
    </a>

    <div class="admin-info">
        Prihlásený ako: <strong th:text="${user}">admin@upc.sk</strong> |
        <a href="/logout">
            Odhlásiť sa
        </a>
    </div>

    <input type="text" id="search" placeholder="Vyhľadať podľa mena alebo priezviska...">

    <label class="toggle-line" style="margin-top: 0">
        <input type="checkbox" id="filter-nezaplatene" checked>
        <span class="toggle"></span>
        <span class="text">Zobraziť iba nezaplatené</span>
    </label>
    <label class="toggle-line" style="margin-top: 0">
        <input type="checkbox" id="filter-zrusene">
        <span class="toggle"></span>
        <span class="text">Zobraziť aj zrušené</span>
    </label>
    <p>Aktuálna obsadenosť účastníkov: <strong
            th:text="${pocetObsadenych + '/' + maxPocet}">20/54</strong></p>
    <p>Počet dobrovoľníkov: <strong
            th:text="${pocetDobrovolnikov}">20</strong></p>
    <p>Počet teamákov: <strong
            th:text="${pocetTeamakov}">20/54</strong></p>
    <p>Použité / Zaplatené / Celkovo: <strong
            th:text="${pocetPouzite + '/' + pocetZaplatene + '/' + pocetCelkovo}">20/50/120</strong></p>

    <table id="volunteers" th:fragment="volunteers">
        <colgroup>
            <col style="width: 165px">
            <col style="width: 250px">
            <col style="width: 115px">
            <col style="width: 140px">
            <col style="width:  90px">
            <col style="width:  23px">
        </colgroup>
        <thead>
        <tr>
            <th>Meno</th>
            <th>Email</th>
            <th>Dostupnosť</th>
            <th>Služby</th>
            <th>Poznámka</th>
            <th>Akcia</th>
        </tr>
        </thead>
        <tbody >
            <tr th:each="volunteer : ${volunteers}">
                <td th:text="${volunteer.name}">Meno</td>
                <td th:text="${volunteer.email}">Email</td>
                <td th:text="${volunteer.availability}">Dostupnosť</td>
                <td th:text="${volunteer.services}">Služby</td>
                <td th:text="${volunteer.text}">Poznámka</td>
                <td><a th:hx-get="${'/admin/volunteers/zarad/' + volunteer.id}" hx-target="#volunteers" hx-swap="innerHTML" class="button-small">Zaraď</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
