<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volunteers - Admin Panel</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
<div class="obal" style="min-width: 885px;">
    <div th:if="${vacantSuperadminPosition}">
        <a class="button big blue" href="/admin/claim-super">Prevziať superadmin pozíciu</a>
    </div>
    <div th:if="${dobrovolniciNeodoslaneListky}">
        <a class="button big blue" href="/admin/volunteers/send-neodoslane">odošli dobrovoľníkom lískty</a>
    </div>
    <h1>Administrácia dobrovoľníkov</h1>
    <a class="button big blue" href="/admin">
        Prejdi na správu lístkov
    </a>

    <a class="button big blue" th:if="${adminLevel == 'SUPER'}" href="/superadmin">
        Prejdi na superadmina
    </a>

    <div class="admin-info">
        Prihlásený ako: <strong th:text="${user}">admin@upc.sk</strong> |
        <a href="/logout">
            Odhlásiť sa
        </a>
    </div>

    <input type="text" id="search" name="search" placeholder="Vyhľadať podľa mena alebo priezviska..."
           th:hx-get="${'/admin/volunteers'}" hx-target="#volunteers" hx-swap="innerHTML"
           hx-include="#zaradene, #zrusene, #search" hx-trigger="keyup changed">

    <label class="toggle-line" style="margin-top: 0">
        <input type="checkbox" id="zaradene" name="zaradene"
               th:hx-get="${'/admin/volunteers'}" hx-target="#volunteers" hx-swap="innerHTML"
               hx-include="#zaradene, #zrusene, #search"
               hx-trigger="change">
        <span class="toggle"></span>
        <span class="text">Zobraziť aj zaradené</span>
    </label>
    <label class="toggle-line" style="margin-top: 0">
        <input type="checkbox" id="zrusene" name="zrusene"
               th:hx-get="${'/admin/volunteers'}" hx-target="#volunteers" hx-swap="innerHTML"
               hx-include="#zaradene, #zrusene, #search"
               hx-trigger="change">
        <span class="toggle"></span>
        <span class="text">Zobraziť aj zrušené</span>
    </label>
    <p>Aktuálna obsadenosť účastníkov: <strong
            th:text="${pocetObsadenych + '/' + maxPocet}">20/54</strong></p>
    <p>Počet dobrovoľníkov: <strong
            th:text="${pocetDobrovolnikov}">20</strong></p>
    <p>Počet teamákov: <strong
            th:text="${pocetTeamakov}">20/54</strong></p>
    <p>Použité / Zaplatené / Celkovo: <strong
            th:text="${pocetPouzite + '/' + pocetZaplatene + '/' + pocetCelkovo}">20/50/120</strong></p>

    <div
            hx-get="/admin/volunteers"
            hx-trigger="load"
            hx-target="#volunteers"
            hx-swap="innerHTML"
            hx-include="#zaradene, #zrusene, #search"
            >
    </div>

    <table id="volunteers"  th:fragment="volunteers">
        <colgroup>
            <col style="width: 175px">
            <col style="width: 275px">
            <col style="width: 100px">
            <col style="width: 100px">
            <col style="width: 100px">
            <col style="width:  81px">
        </colgroup>
        <thead>
        <tr>
            <th>Meno</th>
            <th>Email</th>
            <th>Dostupnosť</th>
            <th>Služby</th>
            <th>Poznámka</th>
            <th>Akcia</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${volunteers != null}" th:each="volunteer : ${volunteers}"
            th:class="${
        volunteer.stav == T(org.upece.granko.olvmat.entity.enums.VolunteerStavEnum).AKTIVNY ? 'volunteers-green' :
        volunteer.stav == T(org.upece.granko.olvmat.entity.enums.VolunteerStavEnum).ZRUSENY ? 'volunteers-red' :
        'volunteers-skyblue'}">
            <td th:text="${volunteer.name}">Meno</td>
            <td th:text="${volunteer.email}">Email</td>
            <td th:utext="${volunteer.availability}">Dostupnosť</td>
            <td th:utext="${volunteer.services}">Služby</td>
            <td th:text="${volunteer.text}">Poznámka</td>
            <td><a th:if="${volunteer.stav == T(org.upece.granko.olvmat.entity.enums.VolunteerStavEnum).AKTIVNY}" th:hx-get="${'/admin/volunteers/zarad/' + volunteer.id}" hx-target="#volunteers" hx-swap="innerHTML"
                   class="button small blue" hx-include="#zaradene, #zrusene, #search">Zaradiť</a>
                <a th:if="${volunteer.stav != T(org.upece.granko.olvmat.entity.enums.VolunteerStavEnum).ZRUSENY}" th:hx-get="${'/admin/volunteers/cancel/' + volunteer.id}" hx-target="#volunteers" hx-swap="innerHTML"
                   class="button small red" hx-include="#zaradene, #zrusene, #search">Zrušiť</a>
                <a th:if="${volunteer.stav == T(org.upece.granko.olvmat.entity.enums.VolunteerStavEnum).ZRUSENY}" th:hx-get="${'/admin/volunteers/revire/' + volunteer.id}" hx-target="#volunteers" hx-swap="innerHTML"
                   class="button small blue" hx-include="#zaradene, #zrusene, #search">Obnoviť</a>
                <a th:if="${volunteer.stav == T(org.upece.granko.olvmat.entity.enums.VolunteerStavEnum).ZARADENY}" th:hx-get="${'/admin/volunteers/revire/' + volunteer.id}" hx-target="#volunteers" hx-swap="innerHTML"
                   class="button small red" hx-include="#zaradene, #zrusene, #search">Vyradiť</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    document.getElementById('zaradene').addEventListener('input', function () {
        localStorage.setItem('filterZaradene', this.checked);
    });

    const savedFilterZaradene = localStorage.getItem('filterZaradene');
    if (savedFilterZaradene !== null) {
        document.getElementById('zaradene').checked = savedFilterZaradene === 'true';
    }


    document.getElementById('zrusene').addEventListener('input', function () {
        localStorage.setItem('filterZruseneV', this.checked);
    });

    const savedFilterZruseneV = localStorage.getItem('filterZruseneV');
    if (savedFilterZruseneV !== null) {
        document.getElementById('zrusene').checked = savedFilterZruseneV === 'true';
    }
</script>
</body>
</html>
