<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registrácia - vytvorenie hesla</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<div class="obal">
    <h1>Prosím zadajte nové heslo</h1>


    <form method="post">
        <label for="password">Heslo:</label>
        <input type="password" id="password" name="password" required>

        <button class="button" style="width: 100%; text-align: center;" onclick="">Vytvoriť</button>
    </form>
</div>
</body>
<script>

</script>
</html>