version: "3.9"

services:
  db:
    image: postgres:16
    container_name: datasource
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - db-olv-mat-postgres-data:/etc/data

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "8025:8025"
      - "1025:1025"

  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: olv-mat
    container_name: olv-mat
    ports:
      - "8080:8080"
    depends_on:
      - db
    environment:
      POSTGRE_URL: jdbc:postgresql://datasource:5432/database
      POSTGRE_USERNAME: admin
      POSTGRE_PASSWORD: admin
      MAIL_SERVICE_HOST: mailhog
      MAIL_SERVICE_PORT: 1025
      MAIL_SERVICE_USERNAME:
      MAIL_SERVICE_PASSWORD:
      MAIL_SERVICE_AUTH: false
      MAIL_SERVICE_TLS: false
      MAIL_FROM: granko@upcba.sk

volumes:
  db-olv-mat-postgres-data: