/* make width include padding and border across the document */
*, *::before, *::after { box-sizing: border-box; }


body {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background: #f0f0f0;
}



.obal {
    background: #fafafa;
    padding: 2rem;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    max-width: 690px;
}


.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 15px;

    background: #2864f0;
    color: #fafafa;
    text-decoration: none;

    cursor: pointer;
    transition: background 0.25s ease;
}
.button:hover {
    background: #1e3cb4;
}


.admin-info {
    text-align: right;
    color: #000000;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.login-registration {
    text-align: center;
    color: #000000;
    font-size: 0.9rem;
    margin-top: 1rem;
}



h1 {
    text-align: center;
    color: #0000f0;
    margin-bottom: 1.5rem;
}

h2 {
    text-align: center;
    color: #000096;
    margin-bottom: 1.5rem;
}

p {
    margin: 0 0;
    line-height: 1.5;
    font-size: 1rem;
    text-align: justify;
}

pre {
    margin: 0.4rem 0;
    font-size: 1rem;
}


input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: 1px solid #afafaf;
}

label {
    display: block;
    margin-top: 0.5rem;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #dcdcdc;
    width: max-content;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
    text-align: center;
    font-size: 1rem;
}
th {
    background: #fafafa;
}
tr:hover {
    background: #f0f0f0;
}

.paid {
    color: #00af00;
    font-weight: bold;
}

.unpaid {
    color: #ff0000;
    font-weight: bold;
}
