<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rezervácia lístka</title>
    <link type="text/css" rel="stylesheet" href="/stylesheet.css">
</head>

<body>
<div class="obal">
    <h1>Rezervácia lístka na OĽV</h1>


    <p>Švárni šuhaji, driečne devy,</p>
    <div style="height:0.75rem;"></div>

    <p>
        Pozývame Vás na Ondrejskú ľudovú veselicu plnú farieb, vzorov a zábavy!
        Už <strong>28. novembra</strong> bude naše UPeCe znieť ľudovými tancami a piesňami.
        Ak si toto nechceš nechať ujsť, tu si môžeš zarezervovať lístok.
        Jednoducho <strong>vyplň formulár</strong> a lístok budeš mať rezervovaný.
        Následne prídeš do <strong>Libressa</strong>, ktorýkoľvek <strong>pracovný deň 30 minút po svätej omši</strong>,
        kde nám dáš svoj príspevok a my ti lístok aktivujeme.
    </p>
    <div style="height:2.25rem;"></div>


    <p><strong>Odporúčaný príspevok:</strong></p>

    <pre>  -  10€  Študent</pre>
    <pre>  -  20€  Neštudent</pre>
    <div style="height:1.25rem;"></div>


    <p>Ak máš túžbu pridať ruku k dielu, pridaj sa do kolektívu dobrovoľníkov:</p>

    <a href="https://docs.google.com/forms/d/e/1FAIpQLScQT35Go2tPK3XinxHqm2aahp-Bnjccv7c8_zjW1nsb_9RQKw/viewform?usp=dialog"
       class="button" style="margin-left: 0.75rem;">
        <strong>Viac informácií</strong>
    </a>
    <div style="height:4rem;"></div>


    <h3>Aktuálna obsadenosť</h3>
    <div class="bar-bg">
        <div id="barFill" class="bar-fill">
            <span id="barFillText" style="vertical-align: center;"></span>
        </div>
        <div id="barText" class="bar-text"></div>
    </div>
    <div style="height:1.5rem;"></div>


    <form method="post" action="">
        <label for="name">Meno a priezvisko:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Emailová adresa:</label>
        <input type="email" id="email" name="email" required>


        <fieldset style="margin-top:1rem;">
            <legend>Typ lístka:</legend>
            <label>
                <input type="radio" name="ticketType" value="STUDENT" checked required>
                Študentský
            </label>
            <label>
                <input type="radio" name="ticketType" value="NESTUDENT" required>
                Neštudentský
            </label>
        </fieldset>

        <div style="height:1rem;"></div>
        <input class="button" style="width: 100%;" type="submit" value="Odoslať rezerváciu">
    </form>
</div>

<script th:inline="javascript">
    const barFill = document.getElementById("barFill");
    const barFillText = document.getElementById("barFillText");

    const percentObsadene = /*[[${percentObsadene}]]*/ 0;
    const lastListky = /*[[${lastListky}]]*/ null;

    function skMiesta(n) {
        if (n === 1) return "Posledné miesto";
        if (n >= 2 && n <= 4) return "Posledné " + n + " miesta";
        return "Posledných " + n + " miest";
    }

    function updateUI() {
        // fill the bar
        barFill.style.width = percentObsadene + "%";

        // decide what text to show
        if (lastListky !== null) {
            barFillText.innerText = skMiesta(lastListky);
        } else {
            barFillText.innerText = percentObsadene + "%";
        }
    }

    updateUI();
</script>
</body>
</html>