<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .button {
            display: inline-block;
            padding: 0.75rem 1.25rem;
            border-radius: 15px;

            background: #2864f0;
            color: #fafafa;
            text-decoration: none;

            cursor: pointer;
            transition: background 0.25s ease;
        }
    </style>
</head>

<body>
<h2>Nová žiadosť o registráciu admina</h2>

<div style="height:0.25rem;"></div>

<p>
    Užívateľ požiadal o registráciu nového účtu na správu lístkov na mail: <span style="font-style: italic"
                                                                                 th:text="${email}"></span>
</p>

<p>
    <a class="button" th:href="${url}">
        <span style="color: #fafafa;">Tu môžeš potvrdiť registráciu</span>
    </a>
</p>
</body>
</html>