<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .button {
            display: inline-block;
            padding: 0.75rem 1.25rem;
            border-radius: 15px;

            background: #2864f0;
            color: #fafafa;
            text-decoration: none;

            cursor: pointer;
            transition: background 0.25s ease;
        }
    </style>
</head>

<body>
<p th:text="${'Ahoj ' + krstneMeno + '!'}">Ahoj!</p>

<div style="height:0.25rem;"></div>

<p>Ďakujeme za tvoju rezerváciu lístka na Majáles.</p>

<p th:if="${dobrovolnik != null && dobrovolnik}">
    Lístok máš úspešne rezervovaný &ndash; <strong>stačí si ho prísť vyzdvihnúť do UPeCe.</strong><br>
    Môžeš tak urobiť buď na dobrovoľníckom stretku alebo od pondelka 13.4.2026 do utorka 28.4.2026 každý
    <strong>pracovný deň 30 minút po svätej omši</strong> v Libresse.
</p>

<p th:if="${dobrovolnik == null || !dobrovolnik}">
    Lístok máš úspešne rezervovaný &ndash; <strong>stačí si ho prísť vyzdvihnúť do UPeCe.</strong><br>
    Môžeš tak urobiť od pondelka 13.4.2026 do utorka 28.4.2026 každý <strong>pracovný deň 30 minút po svätej omši</strong>
    v Libresse.
</p>

<p>Nezabudni, že <strong>platba je možná len v hotovosti</strong>!</p>

<div style="height:0.25rem;"></div>

<p>
    <a class="button" th:href="${'eventy.upcba.sk/ticket/' + ticketId + '?securityKey=' + securityKey}">
        <span style="color: #fafafa;">Tu môžeš sledovať stav svojho lístka</span>
    </a>
</p>

<div style="height:0.25rem;"></div>

<p>
    Tešíme sa na teba!🤍🩵<br>
    Grantovo-eventový tím UPeCe Bratislava
</p>
</body>
</html>