<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">
<head>
    <base target="_top">
</head>

<body>
<p th:text="${'Ahoooj ' + meno + '!'}">Ahooooj !</p>

<div style="height:0.25rem;"></div>

<p>Sme veľmi radi, že si sa rozhodol/la prísť na OĽV 2025.</p>

<p><strong>Na akcii sa dá platiť iba v hotovosti.</strong></p>

<div style="height:0.25rem;"></div>


<p>Na akcii platia nasledovné pravidlá:</p>

<ul>
    <li>V hodnote lístka nie je zahrnuté občerstvenie (jedlo a pitie). Občerstvenie si môžete zaobstarať priamo na
        akcii.
    </li>
    <li>Zákaz vnášania akýchkoľvek alkoholických nápojov, nožov, ostrých predmetov a predmetov ohrozujúcich zdravie a
        bezpečnosť účastníkov, akýchkoľvek drog, omamných a návykových látok.
    </li>
    <li>Organizátor si vyhradzuje právo vykázať bez nároku na vrátenie príspevku osoby správajúce sa neprimerane,
        agresívne alebo inak narúšajúce priebeh udalosti.
    </li>
    <li>Lístky sú nepredajné a neprenosné.</li>
    <li>V prípade, že nemôžete prísť, lístky do 25. 4. vykúpime na recepcii za pôvodnú sumu a poskytneme ju
        náhradníkovi z poradovníka.
    </li>
    <li>V prípade, že sa akcia zruší zo strany usporiadateľa, príspevky bude vrátené.</li>
    <li>Zúčastnením sa podujatia súhlasíte s pravidlami UPeCe Bratislava a vytvorením audiovizuálneho záznamu podujatia,
        ktorý môže
        byť použitý pre účely UPeCe Bratislava.
    </li>
</ul>


<div style="height:0.25rem;"></div>

<div style="height:0.25rem;"></div>

<p>
    Ďakujeme a tešíme sa na teba 28.11.2025! 🤍🤎<br>
    Grantovo-eventový tím UPeCe Bratislava
</p>

<p>
    Týmto kódom sa preukáž pri vstupe
</p>
<img alt="Lístok" src="cid:qrImage">

</body>