<!DOCTYPE html>
<html lang="sk" xmlns:th="http://www.thymeleaf.org">

<body>
    <p th:text="${'Ahoj ' + krstneMeno + '!'}">Ahoj!</p>

    <div style="height:0.25rem;"></div>

    <p>Ďakujeme, za tvoju rezerváciu lístka na.</p>

    <p>
        Lístok máš úspešne rezervovaný &ndash; <strong>stačí si ho prísť vyzdvihnúť do UPeCe.</strong><br>
        Môžeš tak urobiť od pondelka 17.11.2025 do štvrtku 27.11.2025. každý <strong>pracovný deň 30 minút po svätej omši</strong> v
        Libresse
    </p>

    <p>Nezabudni, že <strong>platba je možná len v hotovosti</strong>!</p>

    <div style="height:0.25rem;"></div>

    <p>
        <a th:href="${'olv-mat.upcba.sk/ticket/' + ticketId + '?securityKey=' + securityKey}">
            Tu môžeš sledovať stav svojho lístka
        </a>
    </p>

    <div style="height:0.25rem;"></div>

    <p>
        Tešíme sa na teba! 🤍🤎<br>
        Grantovo-eventový tím UPeCe Bratislava
    </p>
</body>
</html>